In [1]:
import pandas as pd
import tictactoe

data = pd.read_excel("CleanedDatabase.xlsx")
data

        Unnamed: 0  1  2  3  4  5  6  7  8  9    R
0                0  1  2  3  4  5  6  7  0  0  1.0
1                1  1  2  3  4  5  6  8  7  9  1.0
2                2  1  2  3  4  5  6  8  9  7  1.0
3                3  1  2  3  4  5  6  9  0  0  1.0
4                4  1  2  3  4  5  7  6  8  9  1.0
...            ... .. .. .. .. .. .. .. .. ..  ...
255163      255163  9  8  7  6  5  3  4  2  1  1.0
255164      255164  9  8  7  6  5  4  1  0  0  1.0
255165      255165  9  8  7  6  5  4  2  1  3  1.0
255166      255166  9  8  7  6  5  4  2  3  1  1.0
255167      255167  9  8  7  6  5  4  3  0  0  1.0

[255168 rows x 11 columns]

In [ ]:
data.head()

In [2]:
data['9_res'] = data['R'] #this is the result
data['8_res'] = data['R'] #as for each 8th move, only 1 option exists for move 9
data.head()

   Unnamed: 0  1  2  3  4  5  6  7  8  9    R  9_res  8_res
0           0  1  2  3  4  5  6  7  0  0  1.0    1.0    1.0
1           1  1  2  3  4  5  6  8  7  9  1.0    1.0    1.0
2           2  1  2  3  4  5  6  8  9  7  1.0    1.0    1.0
3           3  1  2  3  4  5  6  9  0  0  1.0    1.0    1.0
4           4  1  2  3  4  5  7  6  8  9  1.0    1.0    1.0

In [3]:
rows = data.shape[0]
for i in range(7,0,-1): #column name
    prev = str(i+1) + "_res"
    col_res = []
    int_j = 0 #row number
    while int_j < rows:
        j = data.at[int_j, i]
        if j == 0: #Carry forward result
            col_res.append(data.at[int_j, prev])
            int_j += 1
            continue
        # int_j+=1
        # sizeOfSim = 1 #Since atleast 1 will be similar
        
        if data.at[int_j, i+1] == 0: #this is the decisive move
            col_res.append(data.at[int_j, prev])
            int_j += 1
            continue
        
        tempRes = []
        tempRes.append(data.at[int_j,prev])
        start = int_j
        int_j += 1
        while int_j<rows and data.at[int_j, i] == data.at[int_j-1, i]:
            # sizeOfSim +=1
            tempRes.append(data.at[int_j,prev]) #Getting the results of all similar series
            int_j+=1
        
        score = 0
        if i%2 == 0: #Player 2's turn
            if 1 in tempRes: #because next turn is player 1's
                score = 1
            elif 0.5 in tempRes:
                score = 0.5
            else:
                score = -1
        else: #Player 1's
            if -1 in tempRes:
                score = -1
            elif 0.5 in tempRes:
                score = 0.5
            else:
                score = 1

        
        
        moveScore = [score for _ in tempRes]
        col_res.extend(moveScore)

    current = str(i) + "_res"
    data[current] = col_res


data
        
            # Get a list of all the results for series of moves uptil 7
            # check if there exists +1 if current move is player 1 and vice versa
            # for the size of all series (by comment 1) fill it with +1, -1 or 0
            # append this list to the col_res

,Unnamed: 0,1,2,3,4,5,6,7,8,9,R,9_res,8_res,7_res,6_res,5_res,4_res,3_res,2_res,1_res
0,0,1,2,3,4,5,6,7,0,0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5,1.0,0.5
1,1,1,2,3,4,5,6,8,7,9,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5,1.0,0.5
2,2,1,2,3,4,5,6,8,9,7,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5,1.0,0.5
3,3,1,2,3,4,5,6,9,0,0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5,1.0,0.5
4,4,1,2,3,4,5,7,6,8,9,1.0,1.0,1.0,0.5,1.0,1.0,1.0,0.5,1.0,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255163,255163,9,8,7,6,5,3,4,2,1,1.0,1.0,1.0,0.5,1.0,1.0,1.0,0.5,1.0,0.5
255164,255164,9,8,7,6,5,4,1,0,0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5,1.0,0.5
255165,255165,9,8,7,6,5,4,2,1,3,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5,1.0,0.5
255166,255166,9,8,7,6,5,4,2,3,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5,1.0,0.5
255167,255167,9,8,7,6,5,4,3,0,0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5,1.0,0.5

In [4]:
data.describe()

,Unnamed: 0,1,2,3,4,5,6,7,8,9,R,9_res,8_res,7_res,6_res,5_res,4_res,3_res,2_res,1_res
count,255168.000000,255168.000000,255168.000000,255168.000000,255168.000000,255168.000000,255168.000000,255168.000000,255168.000000,255168.000000,255168.000000,255168.000000,255168.000000,255168.000000,255168.000000,255168.000000,255168.000000,255168.000000,255168.000000,255168.0
mean,127583.500000,5.000000,5.000000,5.000000,5.000000,5.000000,4.971783,4.867381,3.927765,2.505643,0.299097,0.299097,0.299097,-0.098108,0.674158,-0.021268,0.790946,0.322219,0.824288,0.5
std,73660.801082,2.581994,2.581994,2.581994,2.581994,2.581994,2.601799,2.671212,3.073848,3.096912,0.880400,0.880400,0.880400,0.906633,0.646279,0.892279,0.461322,0.678453,0.238708,0.0
min,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0.500000,0.5
25%,63791.750000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,1.000000,0.000000,-1.000000,-1.000000,-1.000000,-1.000000,0.500000,-1.000000,0.500000,0.500000,0.500000,0.5
50%,127583.500000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,4.000000,1.000000,1.000000,1.000000,1.000000,0.500000,1.000000,0.500000,1.000000,0.500000,1.000000,0.5
75%,191375.250000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,5.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.500000,1.000000,0.5
max,255167.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.5

In [6]:
data.to_excel("AddedResultCols.xlsx")